* { 
    margin : 0;
    padding: 0;
    box-sizing : border-box;
    font-family : "Poppins", sans-serif;
  }
  
  .vinte {
    position : relative;
    display : flex;
    align-items : center;
    justify-content : center;
  }
  
  .vinte .card {
    position: relative;
    max-width : 400px;
    height : 215px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .vinte .card:hover {
    height : 320px;    
  }
  
  
  .vinte .card .image {
    position : relative;
    width : 260px;
    height : 260px;
    
    top : 0%;
    left: 2px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .vinte .card .image img {
    max-width : 100%;
    border-radius : 15px;
  }
  
  .vinte .card .content {
    position : relative;
    top : -50px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .vinte .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
     font-family: 'Open Sans', sans-serif;
    
  }

  